*.pyc
.DS_Store
.idea/
/temp/
/.project
/.pydevproject
/connect4/
/gobang/
/othello/
/pretrained_models/
/pytorch_classification/
/tictactoe/
Arena.py
Coach.py
Game.py
LICENSE
NeuralNet.py
pit.py
README.md
utils.py
